# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 9f673793a445f8c12b0f4851125ff2eb498838382a59bbdd8e0f2b96e1dcfa783d87f9a84f115e1b5c7f0fbc4cf5783e3f1125dc93a0a705b7f18dd9477c0bd1

test:
  secret_key_base: 391aa80db72a39608b1533f2356045a3ce6c57032e1be219de5d42923ae5aed9c89067c4f4c405a83de0b60a51d2ab38cb14f55bdcb74d02eb7af39e3d0ab00a

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
